 * {
  box-sizing: border-box;
 }
 
 body {
    font-family: Arial, Helvetica, sans-serif;
  }

  #header{
    display: block;
    padding: 10px;
  }
    
  header {
    display: grid;
    padding: .5rem;
    grid-template-columns: auto 48px;
    background:  rgb(113, 200, 157);
    color: black;
  }
  header button {
    font-size: 2rem;
    height: 48px;
    width: 48px;
    background-color:#0a9ec7;
  }
  header img{
    display: flex;
    border-color:rgb(9, 130, 61);
    border-style: solid;
    border-radius: 25px;
    top: 100px; 
    left: 50px; 
    width: 100%;
    height: auto;
  }
  .join-button{
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    padding: 14px 28px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    color:white;
	  background-color: #155756;
  }

  #banner{
    height: 65px;
    background-color: rgb(32, 6, 86);
    border: #e6ee0b 5px solid;
    text-align: center;
    overflow: hidden;
  }
  .showbanner{
    display: block;
  }
  .hidebanner {
    display: none;
  }
  .marquee {
    margin: 8px auto;
    
  }
  .marquee span{
    color: rgb(245, 243, 247);
    font-size: 1rem;
    overflow: hidden;
    font-weight: 900;	
  }

/* Menu code below */
  
  nav  {
    display: none;
    position: absolute;
    top: 100px;
    right: 0px;
    margin: 0 auto;
    max-width: 760px;
    background-color: #05226b; ;
  }
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul {
    margin: 0px;
    padding: 0px;
  }
  nav a {
    display: block;
    position: static;
    padding: 0.75rem 2rem;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }
  .menu a:hover, button:hover {
    background-color: rgb(40, 174, 113);
  }
  .menu li {
    text-decoration: none;
    color:white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: vertical 0.5s ease-in-out;
    background-color:#0e5e5d ;
  } 
  nav.open {
    display: block;
  }  

  header button::before {
    content: " ≡ "
  }
  .close::before {
    content: " ❌ ";
    }

/*end of menu*/


  main {
    display: grid;
    grid-column: 1/3 ;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: .5rem;
    min-width: auto;
    background-color: #155756;
    color: rgb(246, 243, 243);
    margin: auto;
  }
  
  main section {
    color: rgb(246, 241, 241);;
    border-color:rgb(105, 114, 238);
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 25px;
    background-color:#155756 ;
    gap: 1.5rem;

  }


  .main-content img{
    display: flex;
    border-color:rgb(0, 6, 7);
    border-style: solid;
    border-radius: 25px;
    top: 100px; 
    left: 50px; 
    width: 100%;
    height: auto;
  }

  p{
    font-size: larger;
  }

  .left-sidebar {
    float: left;
    background-color: #1adbd8;
    text-align: center;
    font-size: large;
    height: 100%;
  }

/*Directory*/
#title {
  display: block;
  height: 50px;
  padding: 10px;
  font-size: 35px;
}
#business{
  background-color: #155756;
  width: 100%;
}
#cards section {
  border: solid;
  background-color: #399faf;
}
#cards image {
  width: auto;
  height: 250px;
}
#directory {
  display: flex;
  text-align: center; 
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #ddce41;
  width: fit-content;
}
#directory button {
	padding: 10px;
	font-weight: 700;
  font-size: medium; 

}
#directory button:hover , #directory button:focus {
	background-color: rgb(26, 172, 104);
  cursor: pointer;
}

.grid section {
  max-width: 460px;
	flex-direction: row;
	text-align: center;
}
.grid section > * {
	margin: 0.1rem;
}
.grid {
	font-family: Tahoma, cursive;
}

article.list {
  display: flex;
  flex-direction: column;
  text-align: center; 
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
}
.list section {
	margin: 0;
	padding: 0.25rem;
  background-color: #200a70;
}
.list section > * {
	margin: 0 1rem;
  text-align: justify;
}
.list section img {
	display: none;
}
.list section h3 {
	font-size: 1rem;
	font-family: Tahoma, Helvetica, sans-serif;
}


/*join*/
form fieldset {
  margin: 2rem 0;
  border: 1px solid #f5f0f0f0;
  border-radius: 10px;
  padding: .5rem 2%;
  background-color: rgb(6, 98, 66);
  text-align: left;
}

form legend{
  color: rgb(247, 237, 237);
  margin: 0 1rem;
  padding: 0 .5rem;
  font-size: large;
  background-color: rgb(10, 4, 101);
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #f1f7f6;
  font-size: medium;
  
}

form label.top input, form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 1px  #7da98e ;
  border-radius: 4px;
  padding: .75rem;
  color: #050505;
  width: 100%;
  max-width: 20rem;
  background-color: #f81fd71a;

}
form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #070707;
  
}

form input.submitBtn {
  border: none;
  background-color: #156a8c;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
  font-size: large;
}

form label.top input:required  {
  border-left: red solid 6px;  
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

  footer {
    background: rgb(2, 67, 37);
    color: white;
    padding: 2rem;
    text-align: center;
    grid-column: 1/3 ;
  }



