
@media only screen and (min-width: 600px){
 
    header {
        width: 100%;
        grid-column: 1 / 4;
        height: 20 rem;
    } 
    header img {
        width:fit-content;
        position: center;
        display: flex;
        margin: auto;
        border: none;
    }  
    header button{
        display: none;
    }

    main h1{
        grid-column: 1 / span 2;
    }

    nav {
        min-width: 1400px;
        top: 0px;
        font-size: larger;
        display: block;
    }
    nav ul {
        display: flex;
        flex-direction: row-reverse;
    }         
 /* Discover page css */
    .main-content {
        margin-left: 400px;
        margin-right: auto;
        padding: 1px 16px;
        height: auto;
        min-width: 400px;
        
    }
    .main-content img:hover {
        border-color:rgb(2, 3, 85) ;
    
    }
    .left-sidebar {
        width: 400px;
        height: auto;
        position: absolute;
        top: 41rem;
        display: flex;
        flex-direction: column;
      }
   

      /* visits per page */
      
    p {
        margin: 1rem;
      }
      
    .label {
        font-family: Arial, sans-serif;
        font-weight: 700;
      }
      
    #visits {
        color: navy;
        font-weight: bolder;
        font-size: larger;
      }
}   

