
@media only screen and (min-width: 600px){
 
    header {
        width: 100%;
        grid-column: 1 / 4;
        height: 55rem;
    } 
    header img {
        width:fit-content;
        position: center;
        display: flex;
        margin: auto;
        border: none;
    }  
    header button{
        display: none;
    }

    main h1{
        grid-column: 1 / span 2;
    }

    nav {
        min-width: 1400px;
        top: 0px;
        font-size: larger;
        display: block;
    }
    nav ul {
        display: flex;
        flex-direction: row-reverse;
    }         

    .main-content {
        flex: 3;
        margin-left: 400px;
        min-width: 400px;
        
    }
    .main-content img:hover {
        border-color:rgb(2, 3, 85) ;
        border-width: 10px;
    
    }
    .left-sidebar {
        flex: 1;
        text-align: justify;
        padding: 10px;
        width: 400px;
        height: auto;
        position: absolute;
        top: 41rem;
      }
   
}   

