@media only screen and  (min-width: 20rem){
    



nav{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    font-family: Arial;
}
nav a {
    color:white;
    text-decoration: none;
    background-color: black;
    padding: .8rem;
}   
section {
    border: 1px dashed purple;
    
}
main , header{
    font-family: Arial;
    max-width: 760px;
    justify-self: center;
}

img {
    width: 20%;
    height: auto;
    box-shadow: 1px 1px 10px;
}
 /* nav *:nth-child(1){
    margin-right: 3rem;
} */
.menu {
	position: fixed;
	top: 0;
	left: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #f7f7f7;
	z-index: 10;
	overflow: hidden;
	box-shadow: 2px 0 20px rgba(0, 0, 0, 0.26);
}

.menu li a {
	display: block;
	text-decoration: none;
	text-align: center;
	width: 12rem;
	padding: 1rem;
	color: #72739f;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	transition: background 0.5s ease-in-out;
}

.menu li a:hover,
.menu li:first-child a {
	background: papayawhip;
	color: black;
}


li a.menu-item {
	display: none;
}

li a.open {
	display: flex;
}

.close::before {
	content: "❌";
}

}
